<!DOCTYPE html>
<html>
<head>

  <title> Login </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.css">



</head>
<body ng-app="app" ng-controller="loginCtrl">

  <!-- Mixins-->
<!-- Pen Title-->



<div class="container">

  <div class="card"></div>
  <div class="card">
    <h1 class="title">Acceso</h1>
    <form>
      <div class="input-container">
        <input type="text" id="user" required="required" ng-model="user" />
        <label for="user">Usuario</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="pass" required="required" ng-model="pass"/>
        <label for="pass">Clave</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button ng-click="login($event)" id="botonLogin">

          <span ng-hide="loadingLogin">Iniciar Sesión</span>
          <img ng-show="loadingLogin" src="img/loading.gif" width="20" height="20">

        </button>
      </div>
      <div class="footer"><a href="#">¿Olvidó su Contraseña?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle" ng-click="openRegistro()"></div>
    <h1 class="title">Registrar
      <div class="close" ng-click="closeRegistro()"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Usuario</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Clave</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required"/>
        <label for="#{label}">Repite Clave</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Registrar</span></button>
      </div>
    </form>
  </div>

</div>


</body>
</html>