<!DOCTYPE html>
<html>
<head>

  <title> Sistema </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.css">



</head>
<body ng-app="app" ng-controller="sistemaCtrl">

      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

  <!-- Mixins-->

 <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Nombre Alumno</label>
        <input ng-model="alumno.nombre">
      </md-input-container>

      <md-input-container>
        <label>Apellido Alumno</label>
        <input ng-model="alumno.apellido">
      </md-input-container>

    </br>

      <md-input-container>
          <label>Curso</label>
          <md-select ng-model="alumno.curso">
            <md-option><em>Seleccione</em></md-option>
            
            <md-option ng-repeat="cursos in totalCursos" ng-value="cursos.curso" ng-disabled="$index === 1">
              {{cursos.curso}}
            </md-option>

          </md-select>
        </md-input-container>

    </br>

    <md-button class="md-raised md-primary" ng-click="registrar()">Registrar</md-button>


    <md-list ng-cloak>
      
      <md-subheader class="md-no-sticky">Listado de Alumnos</md-subheader>
  <md-list-item ng-repeat="usuarios in totalUsers">
    <p> {{ usuarios.nombre | uppercase}} </p>
    <p> {{ usuarios.apellido | uppercase}}</p>
    <p> {{ usuarios.curso | uppercase}}</p>
  </md-list-item>
  
    </md-list>


   
</body>
</html>